<!doctype html>
<html lang="en">
<head>

<script type="text/javascript">
	var CDN_HOST = 'https://master.d3jr63qkm8f6fy.amplifyapp.com/' ;
	
	var vzn = '86220fcf';
	 var head = document.getElementsByTagName('head')[0];
	 var js = document.createElement('script');
	 js.type = 'text/javascript';
	 js.src = CDN_HOST + 'static/js/main.'+vzn+'.js';
	 js.defer = 'defer';
	 
	 var css = document.createElement('link');
	 css.rel = 'stylesheet';
	 css.href = CDN_HOST + 'static/css/main.23747dc9.css';
	 
	 var favicon = document.createElement('link');
	 favicon.rel = 'icon';
	 favicon.href = CDN_HOST + 'favicon.ico';
	 
	 var apple = document.createElement('link');
	 apple.rel = 'apple-touch-icon';
	 apple.href = CDN_HOST + 'logo192.png';
	 
	 var manifest = document.createElement('link');
	 manifest.rel = 'manifest';
	 manifest.href = CDN_HOST + 'manifest.json';
	 
	 
  	head.appendChild(js);
  	head.appendChild(css);
  	
</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="description"
	content="Web site created using create-react-app" />

<title>Data Entry App</title>
</head>
<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root"></div>
</body>
</html>